$MainMargin: 10%;
.CategoriesChoices {
    display: flex;
    padding: 0 30% 0 30%;
    @media only screen and (max-width: 500px) {
        padding: 0 10% 0 10%;
    }
    list-style-type: none;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.xd {
    width: 50%;
}
.textContainer {
    display: flex;
    justify-content: center;
}
p {
}

main {
    height: 100vh;
    margin-left: $MainMargin;
    margin-right: $MainMargin;
    background-color: red;
    background: linear-gradient(to right, rgb(0, 102, 255), rgb(153, 204, 255));
    //clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

img {
    max-width: 100%;
    height: auto;
}
h1 {
    position: relative;
    width: 100%;
    text-align: center;
}
