@use '../scss/mixins' as mixin;
.animatedGrid {
    display: grid;
    position: relative;

    height: 93%;
    width: 98%;
    margin: auto;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));

    z-index: 0;
}
.lightPlate {
    @include mixin.plate(0);
}

.greyPlate {
    @include mixin.plate(0.7);
}
