@use "../scss/mixins" as mixin;
.animatedGrid {
    display: grid;
    position: relative;

    height: 93%;
    width: 98%;
    margin: auto;
    gap: 5px;
    grid-template-columns: 2fr 2fr;
    overflow: hidden;
}
.lightPlate {
    @include mixin.plate(0);
}

.greyPlate {
    @include mixin.plate(0.6);
}
