.loginCircle {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    filter: grayscale(0);
    animation: circleEntrance 1000ms ease-out;
    animation-fill-mode: backwards;
    border: white 5px solid;
    margin: auto;
    left: 50%;
    display: block;
    top: 55%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 15px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;

    @media only screen and (max-width: 550px) {
        &::before {
            height: inherit;
            width: inherit;
            position: absolute;
            content: "";
            border-radius: 100px 100px 0 0;
            background-color: crimson;
            -webkit-transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: rotate(140deg);
            -moz-transform: rotate(140deg);
            -ms-transform: rotate(140deg);
            transform: rotate(140deg);
            z-index: 100000;
            visibility: visible;
        }
        width: 66vw;
        height: 66vw;
        // .halfOfQuarter{
        //   content: '';
        //   width: 200px;
        //   height: 200px;
        //   border-radius: 50%;
        //   position: absolute;
        //   top: -15px;
        //   left: -15px;
        //   border: 15px dashed red;
        //   -webkit-transform: rotate(30deg);
        //   transform: rotate(30deg);
        // }
        .quarter {
            width: 33vw;
            height: 33vw;
        }
        .half {
            width: 66vw;
            height: 66vw;
        }
    }
    @media only screen and (min-width: 550px) {
        width: 34vw;
        height: 34vw;
        &::before {
            height: inherit;
            width: inherit;
            position: absolute;
            content: "";
            border-radius: 100px 100px 0 0;
            background-color: crimson;
            -webkit-transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: rotate(140deg);
            -moz-transform: rotate(140deg);
            -ms-transform: rotate(140deg);
            transform: rotate(140deg);
            z-index: 100;
        }
        .quarter {
            width: 17vw;
            height: 17vw;
        }
        .half {
            width: 34vw;
            height: 34vw;
        }
    }

    .quarter,
    .half {
        float: left;
        border: 500px white;
        margin: 0;
        padding: 0;
    }

    #fb {
        &:hover {
            filter: brightness(1.4);
        }
        background-image: url(../assets/fb.png);
        background-size: cover;
        background-position: top;
    }

    // #mailHoveredLogin {
    //   &:hover{
    //     filter:brightness(1.4);
    //   }
    //   background-color: red;
    //   background-image: none;
    // }
    // #mailHoveredRegister {
    //   &:hover{
    //     filter:brightness(1.4);
    //   }
    //   background-color: blue;
    //   background-image: none;
    // }

    #mail {
        background-image: url(../assets/mail.png);
        background-size: cover;
        background-position: 0 0;
        &:hover {
            filter: brightness(1.4);
        }
    }

    #decline {
        &:hover {
            filter: brightness(0.8);
        }
        background: linear-gradient(to right, rgb(0, 102, 255), rgb(153, 204, 255));
        font-size: 30px; //popraw bo sie nie zmienia jak zmniejsasz okno
        color: white;
        display: flex;
        align-items: top;
        justify-content: center;
    }
}
