.Navbar {
    font-size: 450%;
    //filter: grayscale(1);

    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    background: linear-gradient(to right, rgb(0, 102, 255), rgb(153, 204, 255));
    height: 10%;
}
