html,
body,
#root {
  margin: 0;
  height: 98.5%;
  background-size: cover;
}

.startingPage {
  height: 100%;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 0.3rem;
}

.navbar {
  font-size: 450%;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  background: linear-gradient(to right, #0066ff, #99ccff);
  height: 10%;
}

.loginCircle {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  filter: grayscale(0);
  animation: circleEntrance 1000ms ease-out;
  animation-fill-mode: backwards;
  border: white 5px solid;
  margin: auto;
  left: 50%;
  display: block;
  top: 55%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 15px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}
@media only screen and (max-width: 550px) {
  .loginCircle {
    width: 66vw;
    height: 66vw;
  }
  .loginCircle::before {
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: 100px 100px 0 0;
    background-color: crimson;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
    z-index: 100000;
    visibility: visible;
  }
  .loginCircle .quarter {
    width: 33vw;
    height: 33vw;
  }
  .loginCircle .half {
    width: 66vw;
    height: 66vw;
  }
}
@media only screen and (min-width: 550px) {
  .loginCircle {
    width: 34vw;
    height: 34vw;
  }
  .loginCircle::before {
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: 100px 100px 0 0;
    background-color: crimson;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
    z-index: 100;
  }
  .loginCircle .quarter {
    width: 17vw;
    height: 17vw;
  }
  .loginCircle .half {
    width: 34vw;
    height: 34vw;
  }
}
.loginCircle .quarter,
.loginCircle .half {
  float: left;
  border: 500px white;
  margin: 0;
  padding: 0;
}
.loginCircle #fb {
  background-image: url(../assets/fb.png);
  background-size: cover;
  background-position: top;
}
.loginCircle #fb:hover {
  filter: brightness(1.4);
}
.loginCircle #mail {
  background-image: url(../assets/mail.png);
  background-size: cover;
  background-position: 0 0;
}
.loginCircle #mail:hover {
  filter: brightness(1.4);
}
.loginCircle #decline {
  background: linear-gradient(to right, #0066ff, #99ccff);
  font-size: 30px;
  color: white;
  display: flex;
  align-items: top;
  justify-content: center;
}
.loginCircle #decline:hover {
  filter: brightness(0.8);
}

.animated-grid {
  display: grid;
  position: relative;
  height: 93%;
  width: 98%;
  margin: auto;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
  z-index: 0;
}

.plate {
  filter: grayscale(0.9);
  animation: platesEntrance 500ms ease-out;
  animation-fill-mode: backwards;
}
.plate:nth-child(1) {
  background-image: url(../assets/adventure.jpg);
  background-position: center;
  object-fit: cover;
  background-size: cover;
  animation-delay: 100ms;
}
.plate:nth-child(2) {
  background-image: url(../assets/partying.jpg);
  background-size: cover;
  background-position: top;
  animation-delay: 200ms;
}
.plate:nth-child(3) {
  background-image: url(../assets/sport.jpg);
  background-size: cover;
  background-position: top;
  animation-delay: 300ms;
}
.plate:nth-child(4) {
  background-image: url(../assets/studying.jpg);
  background-size: cover;
  background-position: top;
  animation-delay: 400ms;
}

.LoginForm {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  overflow: hidden;
  position: absolute;
  top: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}
.LoginForm h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.LoginForm form {
  padding: 0 40px;
  box-sizing: border-box;
}
.LoginForm .txt_field {
  position: relative;
  height: 50%;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.LoginForm .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  background: none;
  outline: none;
  border: none;
}
.LoginForm .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}
.LoginForm .txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.8s;
}
.LoginForm .pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.LoginForm .pass:hover {
  text-decoration: underline;
}
.LoginForm input[type=submit] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.LoginForm input[type=submit]:hover {
  border-color: #2691d9;
  transition: 0.8s;
}
.LoginForm .signup_link {
  margin: 30px;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.LoginForm .signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.LoginForm .signup_link ahover {
  text-decoration: underline;
}
.LoginForm .txt_field input:focus ~ label,
.LoginForm .txt_field input:valid ~ label {
  top: -5%;
  color: #2691d9;
}
.LoginForm .txt_field input:focus ~ span::before,
.LoginForm .txt_field input:valid ~ span::before {
  width: 100%;
}

.BlueButton {
  position: relative;
  z-index: 2;
  width: 200px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #ffce00 50%, #ffce00 50%, #fe4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  z-index: 4;
  font-weight: 700;
  cursor: pointer;
}
.BlueButton:hover {
  background-position: 100% 0%;
}

@keyframes platesEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes greyBackground {}
@keyframes circleEntrance {
  0% {
    opacity: 0;
    top: 55%;
    left: 0%;
  }
  80% {
    opacity: 1;
    top: 55%;
    left: 53%;
  }
  100% {
    opacity: 1;
    top: 55%;
    right: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
