@keyframes platesEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes greyBackground {
}
@keyframes circleEntrance {
    0% {
        opacity: 0;
        top: 55%;
        left: 0%;
    }
    80% {
        opacity: 1;
        top: 55%;
        left: 53%;
    }

    100% {
        opacity: 1;
        top: 55%;
        right: 50%;
    }
}
