.navbar {
    font-size: 450%;
    //filter: grayscale(1);

    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    background: linear-gradient(to right, rgb(0, 102, 255), rgb(153, 204, 255));
    height: 10%;
}

.loginCircle {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    filter: grayscale(0);
    animation: circleEntrance 1000ms ease-out;
    animation-fill-mode: backwards;
    border: white 5px solid;
    margin: auto;
    left: 50%;
    display: block;
    top: 55%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 15px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;

    @media only screen and (max-width: 550px) {
        &::before {
            height: inherit;
            width: inherit;
            position: absolute;
            content: "";
            border-radius: 100px 100px 0 0;
            background-color: crimson;
            -webkit-transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: rotate(140deg);
            -moz-transform: rotate(140deg);
            -ms-transform: rotate(140deg);
            transform: rotate(140deg);
            z-index: 100000;
            visibility: visible;
        }
        width: 66vw;
        height: 66vw;
        // .halfOfQuarter{
        //   content: '';
        //   width: 200px;
        //   height: 200px;
        //   border-radius: 50%;
        //   position: absolute;
        //   top: -15px;
        //   left: -15px;
        //   border: 15px dashed red;
        //   -webkit-transform: rotate(30deg);
        //   transform: rotate(30deg);
        // }
        .quarter {
            width: 33vw;
            height: 33vw;
        }
        .half {
            width: 66vw;
            height: 66vw;
        }
    }
    @media only screen and (min-width: 550px) {
        width: 34vw;
        height: 34vw;
        &::before {
            height: inherit;
            width: inherit;
            position: absolute;
            content: "";
            border-radius: 100px 100px 0 0;
            background-color: crimson;
            -webkit-transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: rotate(140deg);
            -moz-transform: rotate(140deg);
            -ms-transform: rotate(140deg);
            transform: rotate(140deg);
            z-index: 100;
        }
        .quarter {
            width: 17vw;
            height: 17vw;
        }
        .half {
            width: 34vw;
            height: 34vw;
        }
    }

    .quarter,
    .half {
        float: left;
        border: 500px white;
        margin: 0;
        padding: 0;
    }

    #fb {
        &:hover {
            filter: brightness(1.4);
        }
        background-image: url(../assets/fb.png);
        background-size: cover;
        background-position: top;
    }

    // #mailHoveredLogin {
    //   &:hover{
    //     filter:brightness(1.4);
    //   }
    //   background-color: red;
    //   background-image: none;
    // }
    // #mailHoveredRegister {
    //   &:hover{
    //     filter:brightness(1.4);
    //   }
    //   background-color: blue;
    //   background-image: none;
    // }

    #mail {
        background-image: url(../assets/mail.png);
        background-size: cover;
        background-position: 0 0;
        &:hover {
            filter: brightness(1.4);
        }
    }

    #decline {
        &:hover {
            filter: brightness(0.8);
        }
        background: linear-gradient(to right, rgb(0, 102, 255), rgb(153, 204, 255));
        font-size: 30px; //popraw bo sie nie zmienia jak zmniejsasz okno
        color: white;
        display: flex;
        align-items: top;
        justify-content: center;
    }
}
.animated-grid {
    display: grid;
    position: relative;

    height: 93%;
    width: 98%;
    margin: auto;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));

    z-index: 0;
}
.plate {
    filter: grayscale(0.9);

    animation: platesEntrance 500ms ease-out;
    animation-fill-mode: backwards;

    &:nth-child(1) {
        background-image: url(../assets/adventure.jpg);
        background-position: center;
        object-fit: cover;
        background-size: cover;
        animation-delay: 100ms;
    }
    &:nth-child(2) {
        background-image: url(../assets/partying.jpg);
        background-size: cover;
        background-position: top;
        animation-delay: 200ms;
    }
    &:nth-child(3) {
        background-image: url(../assets/sport.jpg);
        background-size: cover;
        background-position: top;
        animation-delay: 300ms;
        //przerzuc pliki do jednego index.css
    }
    &:nth-child(4) {
        background-image: url(../assets/studying.jpg);
        background-size: cover;
        background-position: top;
        animation-delay: 400ms;
    }
}
.BlueButton {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    &:hover {
        border-color: #0f5c8f;

        transition: 0.6s;
    }
}
.MailLoginForm {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    overflow: hidden;
    position: absolute;
    top: 53.4%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    @media only screen and (max-width: 600px) {
        width: 80%;
    }
    background: white;
    border-radius: 10px;
    h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }
    form {
        padding: 0 40px;
        box-sizing: border-box;
    }
    .BlueButton {
        position: relative;
        bottom: 10px;
    }
    .txt_field {
        position: relative;
        height: 50%;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
        input {
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 16px;
            background: none;
            outline: none;
            border: none;
        }
        label {
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadad;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
        }
        span::before {
            content: "";
            position: absolute;
            top: 40px;
            bottom: 0%;
            left: 0%;
            width: 0%;
            height: 2px;
            background: #2691d9;
            transition: 0.8s;
        }
    }
    .pass {
        margin: -5px 0 20px 5px;
        color: #a6a6a6;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .signup_link {
        margin: 30px;
        text-align: center;
        font-size: 16px;
        color: #666666;
        a {
            color: #2691d9;
            text-decoration: none;
            &hover {
                text-decoration: underline;
            }
        }
    }
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label {
        top: -5%;
        color: #2691d9;
    }

    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before {
        width: 100%;
    }
}

@keyframes platesEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes greyBackground {
}
@keyframes circleEntrance {
    0% {
        opacity: 0;
        top: 55%;
        left: 0%;
    }
    80% {
        opacity: 1;
        top: 55%;
        left: 53%;
    }

    100% {
        opacity: 1;
        top: 55%;
        right: 50%;
    }
}
