
.root{
  opacity: 40%;
  z-index: 100;
  
}

html, body,#root {
  margin: 0;
  height: 98.5%;
  background-size: cover;
  z-index:300000000000000;
  
}
.navbar{
  font-size: 400%;
  //filter: grayscale(1);  
  clip-path: polygon(0 0, 100% 0, 100% 60%,0 100%);
  background: linear-gradient(to right,rgb(0, 102, 255), rgb(153, 204, 255));
  height: 10%;
}
.startingPage{
  height: 100%;
  width: 100%;

  
  text-align: center;
  height: 100%;
  font-size: 0.4rem;
  
.animated-grid {
  
  display: grid;
  position: relative;

  height: 93%;
  width: 98%;
  margin: auto;
  row-gap:10px;
  grid-template-columns:repeat(auto-fit,minmax(45vw,1fr));
  
  z-index: 0;
  

  .loginCircle{
      @media only screen and (max-width: 550px) {
      width: 66vw;
      height: 66vw;
      .quarter{
        width: 33vw;
        height: 33vw;
      }
      .half{
        width: 66vw;
        height: 66vw;
      }
    }
      @media only screen and (min-width: 550px) {
        width: 34vw;
        height: 34vw;
        .quarter{
          width: 17vw;
          height: 17vw;
        }
        .half{
          width: 34vw;
          height: 34vw;
        }
      }
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12)
     0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 
    0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    filter:grayscale(0);
    animation: circleEntrance 1000ms ease-out;
    animation-fill-mode: backwards;
    border: white 5px solid;
    margin: auto;
    left: 50%;
    display: block;
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 10px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    
   
      .quarter,.half {
        float: left;
        margin: 0;
        padding: 0;   
      }
      #fb {
        &:hover{
          filter:brightness(1.4)
        }
        background-image:url(../assets/fb.png);
        background-size: cover;
        background-position: top;
      }
      
      #mail {
        &:hover{
          filter:brightness(1.4)
        }
        background-image:url(../assets/mail.png);
        background-size: cover;
        background-position: 0  0 ;
      }
      
      #decline {
        &:hover{
          filter:brightness(0.8);
        }
        background: linear-gradient(to right,rgb(0, 102, 255), rgb(153, 204, 255)

        );
        font-size: 20px;//popraw bo sie nie zmienia jak zmniejsasz okno
        color: white;
         display: flex;
        align-items: top;
        justify-content: center;
        
        
      

      }
      
      
    
  }
 
@keyframes platesEntrance {
  from{
    opacity: 0;
    transform: scale(0.3);
  }
  to{
    opacity: 1;
    transform: scale(1);

  }
  
}
@keyframes greyBackground {
  
}
@keyframes circleEntrance {
  0% {
    opacity: 0;
    top:50%;
    left:0%;
    
}   
80% {
  opacity: 1;
  top:50%;
  left: 53%;
}

100% {
    opacity: 1;
    top:50%;
    right:50%;
}
  
}

.plate {
  filter: grayscale(0.9);
  
  
  animation: platesEntrance 500ms ease-out;
  animation-fill-mode: backwards;
  
  &:nth-child(1){
    background-image: url(../assets/adventure.jpg);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    animation-delay: 100ms;

  }
  &:nth-child(2){
    background-image: url(../assets/partying.jpg);
    background-size: cover;
    background-position: top;
    animation-delay: 200ms;

  }
  &:nth-child(3){
    background-image: url(../assets/sport.jpg);
    background-size: cover;
    background-position: top;
    animation-delay: 300ms;
    //przerzuc pliki do jednego index.css
  }
  &:nth-child(4){
    background-image: url(../assets/studying.jpg);
    background-size: cover;
    background-position: top;
    animation-delay: 400ms;

  }

}

}
}